<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item"><a href="/ncc">Quản lý nhà cung cấp</a></li>
        <li class="list-group-item"><a href="/vatlieu">Quản lý vật liệu</a></li>
        <li class="list-group-item"><a href="/hopdong">Quản lý hợp đồng</a></li>
        <li class="list-group-item"><a href="/duan">Quản lý dự án</a></li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-6">
          <h2>Admin</h2>
        </div>
        <div class="col-6">
          <button onclick="window.location.href='/vatpham/add-vatpham'" class="btn btn-primary">Thêm</button>
        </div>

      </div>
      <div class="row">

        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>